#list-container{
    display: flex;
    border: 1px solid black;
    min-height: 50vh;
    overflow-y: auto;
    flex-direction: column;
}
div#reminder-one{
    overflow-x: auto;
    width: 100%;
    background-color: lightgreen;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#exit{
    padding: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}
#reminder-one.yellow{
    background-color: yellow;
}

