.reminder__item{
    display: flex;
    min-height: 50px;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.reminder__title{
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
    font-size: 15px;
    font-family: Arial;
    border: none;
    width: 100%;
}
.reminder__title:hover{
    color: gray;
}
input.reminder__title{
    color: gray;
}
.reminder__item::after{
    content:'';
    height: 1px;
    background-color: lightgrey;
    width: 100%;
    right: 0;
    position: absolute;
    bottom: 0;
}
