.contact-list__component-container{
    display: flex;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}
.contact-list__add-form{
    display: flex;
    flex-basis: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
}
.contact-list__container{
    display: flex;
    width: 60%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: column;
    row-gap: 20px;
    overflow: auto;
    max-height: 500px;
}
.contact-list__edit-form{
    display: none;
    flex-direction: column;
    width: 35%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    max-height: 250px;
    justify-content: space-between;
}
.active{
    display: flex;
}
.contact-list__component-container input,
.contact-list__component-container button{
    padding: 5px;
}
.contact-item__container{
    display: flex;
    min-width: 200px;
    min-height: 120px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
}
.contact-item__container.active{
    background-color: lightgreen;
}
.contact-item__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-item__control{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.contact-item__edit:hover,
.contact-item__delete:hover{
    color: red;
}