.title-container,
.body-container{
    display: flex;
    width: 100%;
}
.item-title{
    flex-grow: 1;
    background-color: lightblue;
    font-size: 24px;
    border: 1px solid grey;
    font-weight: bold;
    cursor: pointer;
}
.item-body{
    flex-grow: 1;
    background-color: lightyellow;
    display: none;
}
.active{
    display: block;
}